{% extends 'base.html' %}

{% block title %}home{% endblock title %}

{% block body %}

<h1>Teacher Signup</h1>

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password1" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" name="password2" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
</form>

{% endblock body %}
